<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--header -->
    <header>
        <div class="wrapper">
            <h1 id="logo">@Html.ActionLink("Gallery COM","Index","Galeria")</h1>
            <form id="search" method="post">
                <fieldset>
                    <div class="bg"><input class="input" type="text" value="Search" onblur="if(this.value=='') this.value='Search'" onfocus="if(this.value =='Search' ) this.value=''"></div>
                </fieldset>
            </form>
        </div>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("O galerii", "Index", "Galeria")</li>
@*<li class="active"><a href="galeria/Index"><span>O galerii</span></a></li>*@
                <li>@Html.ActionLink("Zdjęcia", "Photos", "Galeria")</li>
@*<li><a href="galeria/photos"><span>Zdjęcia</span></a></li>*@
                <li>@Html.ActionLink("Logowanie", "Login", "Galeria")</li>
@*<li><a href="galeria/login"><span>Logowanie</span></a></li>*@
            </ul>
        </nav>
        @*<div id="slider">
            <ul class="items">
                <li>
                    <img src="images/img1.jpg" alt="">
                    <div class="banner">
                        <span class="title"><span class="color2">We Have</span><span class="color1">Propositions</span><span>For Everybody</span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                        <a href="#" class="button1">Read More</a>
                    </div>
                </li>
                <li>
                    <img src="images/img2.jpg" alt="">
                    <div class="banner">
                        <span class="title"><span class="color2">Fresh Ideas</span><span class="color1">For Growing</span><span>Your Business</span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                        <a href="#" class="button1">Read More</a>
                    </div>
                </li>
                <li>
                    <img src="images/img3.jpg" alt="">
                    <div class="banner">
                        <span class="title"><span class="color2">The Best</span><span class="color1">You Can Find</span><span>On The Web</span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                        <a href="#" class="button1">Read More</a>
                    </div>
                </li>
            </ul>
        </div>*@
    </header>
    <!--header end-->
    <div>
        @RenderBody()
    </div>
    <!--footer -->
    <footer>
        <ul id="icons">
            <li class="first">Follow Us:</li>
            <li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
            <li><a href="#" class="normaltip" title="Twitter"><img src="images/icon2.jpg" alt=""></a></li>
            <li><a href="#" class="normaltip" title="Picasa"><img src="images/icon3.jpg" alt=""></a></li>
            <li><a href="#" class="normaltip" title="YouTube"><img src="images/icon4.jpg" alt=""></a></li>
        </ul>
        Superior.com &copy; 2011 <br>Website Template by <a href="http://www.templatemonster.com/" target="_blank">TemplateMonster.com</a><br>
        <!-- {%FOOTER_LINK} -->
    </footer>
    <!--footer end-->
</body>
</html>
