<!DOCTYPE html>
@using System.Web.Optimization;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <link href="~/css/reset.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    
    <script src="~/js/jquery-1.6.js"></script>
    <script src="~/js/cufon-yui.js"></script>
    <script src="~/js/cufon-replace.js"></script>
    <script src="~/js/Vegur_300.font.js"></script>
    <script src="~/js/PT_Sans_700.font.js"></script>
    <script src="~/js/PT_Sans_400.font.js"></script>
    <script src="~/js/tms-0.3.js"></script>>
    <script src="~/js/tms_presets.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/atooltip.jquery.js"></script>
</head>
<body>
    <!--header -->
    <header>
        <div class="wrapper">
            <h1>@Html.ActionLink("Gallery COM", "Index", "Galeria", new { @id = "logo" })</h1>
            <form id="search" method="post">
                <fieldset>
                    <div class="bg"><input class="input" type="text" value="Search" onblur="if(this.value=='') this.value='Search'" onfocus="if(this.value =='Search' ) this.value=''"></div>
                </fieldset>
            </form>
        </div>
        <nav>
            <ul id="menu">

                @*<li class="active">*@<li><a href="@Url.Action("Index", "Galeria")"><span>O galerii</span></a></li>
@*<li><span>@Html.ActionLink("O galerii", "Index", "Galeria")</span></li>*@
@*<li class="active"><a href="galeria/Index"><span>O galerii</span></a></li>*@
                <li><a href="@Url.Action("Photos", "Galeria")"><span>Zdjęcia</span></a></li>
@*<li><span>@Html.ActionLink("Zdjęcia", "Photos", "Galeria")</span></li>*@
@*<li><a href="galeria/photos"><span>Zdjęcia</span></a></li>*@
                <li><a href="@Url.Action("Login", "Galeria")"><span>Logowanie</span></a></li>
@*<li><span>@Html.ActionLink("Logowanie", "Login", "Galeria")</span></li>*@
@*<li><a href="galeria/login"><span>Logowanie</span></a></li>*@
            </ul>
        </nav>
        @*<div id="slider">
            <ul class="items">
                <li>
                    <img src="images/img1.jpg" alt="">
                    <div class="banner">
                        <span class="title"><span class="color2">We Have</span><span class="color1">Propositions</span><span>For Everybody</span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                        <a href="#" class="button1">Read More</a>
                    </div>
                </li>
                <li>
                    <img src="images/img2.jpg" alt="">
                    <div class="banner">
                        <span class="title"><span class="color2">Fresh Ideas</span><span class="color1">For Growing</span><span>Your Business</span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                        <a href="#" class="button1">Read More</a>
                    </div>
                </li>
                <li>
                    <img src="images/img3.jpg" alt="">
                    <div class="banner">
                        <span class="title"><span class="color2">The Best</span><span class="color1">You Can Find</span><span>On The Web</span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor.</p>
                        <a href="#" class="button1">Read More</a>
                    </div>
                </li>
            </ul>
        </div>*@
    </header>
    <!--header end-->
    <div>
        @RenderBody()
    </div>
    <!--footer -->
    <footer>
        <ul id="icons">
            <li class="first">Follow Us:</li>
            <li><a href="#" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
            <li><a href="#" class="normaltip" title="Twitter"><img src="images/icon2.jpg" alt=""></a></li>
            <li><a href="#" class="normaltip" title="Picasa"><img src="images/icon3.jpg" alt=""></a></li>
            <li><a href="#" class="normaltip" title="YouTube"><img src="images/icon4.jpg" alt=""></a></li>
        </ul>
        Superior.com &copy; 2011 <br>Website Template by <a href="http://www.templatemonster.com/" target="_blank">TemplateMonster.com</a><br>
        <!-- {%FOOTER_LINK} -->
    </footer>
    <!--footer end-->
    <script src="~/js/atooltip.my.js"></script>
</body>
</html>
